    <%- include("partials/header1.ejs") -%>

  <div class="request">
    <div class="request-img">

        <img class="img-fluid" src="images/computer.png" alt="">


    </div>
    <div class="request-info">
      <div class="request-date">
      </div>
      <h5 class="request-name">Name:<%=fullname%></h5>
      <h5 class="request-country">Country: <%=country%></h5>
      <h5 class="request-contact">Contact: iamwaseemsh@gmail.com</h5>
      <h5 class="request-intrest">Intrests:</h5>
      <h5 class="request-level">Level: Intermediate</h5>
      <p><b>Description:</b> <%=description%></p>
    </div>

  </div>


  <%- include("partials/footer.ejs") -%>
